/* ----- CONTAINER BOX ----- */
.card {
  background: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 14px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin-bottom: 24px;
  max-width: 700px;
}

/* ----- TITULLI ----- */
.card-title {
  font-size: 22px;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 20px;
}

/* ----- INPUT FIELDS ----- */
.input {
  width: 90%;
  margin: auto;
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
  gap: 2px;
}

.input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59,130,246,0.2);
}

/* ----- BUTTON ----- */
.btn {
  background: #2563eb;
  color: white;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.25s;
}

.btn:hover {
  background: #1e4fcc;
}

/* ----- TABLE ----- */
.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e2e8f0;
  overflow: hidden;
  border-radius: 12px;
}

.table th {
  background: #f1f5f9;
  text-transform: uppercase;
  font-size: 13px;
  color: #475569;
  padding: 12px;
  border-bottom: 1px solid #e2e8f0;
}

.table td {
  padding: 12px;
  border-bottom: 1px solid #e2e8f0;
  color: #1e293b;
}

/* Row hover */
.table tr:hover td {
  background: #f8fafc;
}

/* Action Buttons */
.btn-small {
  padding: 7px 12px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  border: none;
  transition: 0.25s;
}

.btn-edit {
  background: #0ea5e9;
}

.btn-edit:hover {
  background: #0284c7;
}

.btn-delete {
  background: #ef4444;
}

.btn-delete:hover {
  background: #dc2626;
}

/* Layout spacing */
.mb-20 {
  margin-bottom: 20px;
}

.gap-15 > * {
  margin-bottom: 15px;
}
.center-page {
  display: flex;
  flex-direction: column;
  align-items: center;     /* Qendër horizontal */
  justify-content: flex-start;
  padding-top: 30px;
  gap: 30px;               /* Distanca mes tyre */
  width: 100%;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-container {
  background: white;
  padding: 20px;
  width: 600px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background: none;
  font-size: 26px;
  cursor: pointer;
}
.btn-add {
  background: #4caf50;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.btn-add:hover {
  background: #45a049;
}
.container {
  margin: a;
}